---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarrollador de Software",
    company: "Softdata",
    description:
      "Como Responsable del Dise침o y Desarrollo de Software, mi labor implica liderar y supervisar todo el ciclo de vida del desarrollo de software, desde la conceptualizaci칩n y dise침o inicial hasta la implementaci칩n, pruebas y mantenimiento continuo.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>





